body {
    font-family: 'Playfair Display', serif;
    background-color: rgb(119, 34, 34);
}
.titulo {
    margin-bottom: 0!important;
    height: 200px;
}
.text-center {
    margin: 30px;
}
.navegador {
    margin-top: 0px;
    padding-top: 0px;
    
}
.imagenes {
    width: 60%;
    margin: 0 auto;
}

.nosotros {
    margin: 20px;
}

li {
    margin-left: 50px;
    margin-right: 50px;
}
.formulario {
    margin: 0 auto;
    padding: 20px;
    width: 50%;
    background-color:rgb(189, 180, 180)
}